# Default values for opsgenie-marid.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: evryfs/docker-marid
  tag: v2.15.0-1
  pullPolicy: IfNotPresent

gitSync:
  enabled: false
  image:
    repository: k8s.gcr.io/git-sync
    tag: v3.1.2
    pullPolicy: IfNotPresent
  sshKey: ""
  knownHosts: ""
  branch: master
  env: []
  resources: {}
  extraArgs:
  - "-ssh"
  - "-dest=scripts"
  - "-depth=1"
  - "-wait=60"
  - "-ssh-known-hosts=false"
  - "-logtostderr"
  - "-v=9"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths: []

  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

# environment values for Opsgenie Marid container
env: []

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

configmap:
  marid.conf: |
    apiKey = YOUR_API_KEY
    #if you are using opsgenie from another domain e.g. eu, sandbox etc.
    #you should update the line below
    opsgenie.api.url = https://api.opsgenie.com
    ######################################## MARID CONFIGURATION ##################################################

    ######################################## PROXY SERVER CONFIGURATION ############################################
    #http.proxy.server.enabled=false
    #http.proxy.server.port=11111
    #http.proxy.server.host=localhost
    #http.proxy.server.username=admin
    #http.proxy.server.password=changeme

    ######################################## PROXY CONFIGURATION FOR EXTERNAL HTTP REQUESTS FROM MARID##############
    #http.proxy.enabled=false
    #http.proxy.host=<proxy_host>
    #http.proxy.port=<proxy_port>
    #http.proxy.username=<proxy_authentication_username>
    #http.proxy.password=<proxy_authentication_password>
    #http.proxy.protocol=<proxy_connection_protocol>
    #http.proxy.authMethod=<proxy_authentication_mechanism>

    ######################################## HTTP SERVER CONFIGURATION ############################################
    #maridKey=changeme
    #http.server.enabled=true
    #http.server.host=localhost
    #http.server.port=8080
    #http.server.maxContentLength=2000000

    #async.script.shutdown.wait.time=90000
    #async.script.executor.thread.count=20
    #async.script.executor.queue.count=10000

    ######################################## HTTPS SERVER CONFIGURATION ############################################
    #https.server.enabled=true
    #https.server.host=localhost
    #https.server.port=8443
    #https.server.maxContentLength=2000000

    #######################################ALERT ACTION SCRIPT CONFIGURATION #####################################
    #actions.<action_name>.script=<script_file_name>
    ##############################################################################################################

#  log4j.properties: |
#    log4j.rootLogger=INFO, console
#    log4j.appender.console=org.apache.log4j.ConsoleAppender
#    log4j.appender.console.layout=org.apache.log4j.PatternLayout
#    log4j.appender.console.layout.conversionPattern=%d [%t] %-5p %c - %m%n
#    log4j.appender.console.encoding=UTF-8

nodeSelector: {}

tolerations: []

affinity: {}
