{{- if .Values.apiserver.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "common.names.fullname" . }}-apiserver
  labels: {{- include "backend.labels.standard" . | nindent 4 }}
  {{- with .Values.apiserver.serviceAccount.annotations }}
  annotations: {{- . | toYaml | nindent 4 }}
  {{ end }}
{{- end -}}
