apiVersion: v1
appVersion: 3.7.1
description: |
  Dependency-Track is an intelligent Software Supply Chain Component Analysis platform that allows organizations to identify and reduce risk from the use of third-party and open source components. Dependency-Track takes a unique and highly beneficial approach by leveraging the capabilities of Software Bill-of-Materials (SBOM). This approach provides capabilities that traditional Software Composition Analysis (SCA) solutions cannot achieve.
name: dependency-track
home: https://dependencytrack.org/
version: 0.0.2
icon: https://www.owasp.org/images/e/e9/Dependency-Track-logo-large.png
keywords:
 - security
 - dependency
 - dependency-track
 - OWASP
 - Supply Chain Component Analysis
maintainers:
 - name: davidkarlsen
   email: david@davidkarlsen.com
sources:
 - https://docs.dependencytrack.org/
 - https://github.com/evryfs/helm-charts
