apiVersion: v2
appVersion: 4.2.0
description: |
  Dependency-Track is an intelligent Software Supply Chain Component Analysis platform that allows organizations to identify and reduce risk from the use of third-party and open source components. Dependency-Track takes a unique and highly beneficial approach by leveraging the capabilities of Software Bill-of-Materials (SBOM). This approach provides capabilities that traditional Software Composition Analysis (SCA) solutions cannot achieve.
name: dependency-track
home: https://dependencytrack.org/
version: 1.0.3
icon: https://raw.githubusercontent.com/DependencyTrack/branding/master/dt-logo-black-text.svg
keywords:
 - security
 - dependency
 - dependency-track
 - OWASP
 - Supply Chain Component Analysis
maintainers:
 - name: davidkarlsen
   email: david@davidkarlsen.com
sources:
 - https://docs.dependencytrack.org/
 - https://github.com/evryfs/helm-charts
dependencies:
- name: postgresql
  version: ~10.3
  repository: https://charts.bitnami.com/bitnami
  condition: postgresql.enabled
- name: common
  version: 1.4.x
  repository: https://charts.bitnami.com/bitnami
