apiVersion: {{ include "common.capabilities.deployment.apiVersion" . }}
kind: Deployment
metadata:
  name: {{ include "common.names.fullname" . }}-frontend
  labels: {{- include "frontend.labels.standard" . | nindent 4 }}
  {{- with .Values.frontend.annotations }}
  annotations: {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.frontend.replicaCount }}
  selector:
    matchLabels: {{- include "frontend.labels.matchLabels" . | nindent 6 }}
  template:
    metadata:
      labels: {{- include "frontend.labels.standard" . | nindent 8 }}
    spec:
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets: {{- toYaml . | nindent 6 }}
      {{- end }}
      {{- if .Values.frontend.serviceAccount.create}}
      serviceAccountName: {{ include "common.names.fullname" . }}-frontend
      {{- end }}
      securityContext: {{- toYaml .Values.frontend.podSecurityContext | nindent 8 }}
      containers:
      - name: {{ .Chart.Name }}-frontend
        securityContext: {{- toYaml .Values.frontend.securityContext | nindent 12 }}
        {{- with .Values.frontend.resources }}
        resources: {{ . | toYaml | nindent 10 }}
        {{- end }}
        image: {{ include "frontend.image" . }}
        imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
        {{- with .Values.frontend.env }}
        env: {{- toYaml . | nindent 8 }}
        {{- end }}
        ports:
        - name: http
          containerPort: 8080
          protocol: TCP
        volumeMounts:
        - name: tmp
          mountPath: /tmp
        #- name: config
        #  mountPath: /app/static
        {{- if .Values.frontend.livenessProbe.enabled }}
        livenessProbe:
          httpGet:
            port: http
            path: {{ .Values.frontend.livenessProbe.path }}
          initialDelaySeconds: {{ .Values.frontend.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.frontend.livenessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.frontend.livenessProbe.timeoutSeconds }}
          successThreshold: {{ .Values.frontend.livenessProbe.successThreshold }}
          failureThreshold: {{ .Values.frontend.livenessProbe.failureThreshold }}
        {{- end }}
        {{- if .Values.frontend.readinessProbe.enabled }}
        readinessProbe:
          httpGet:
            port: http
            path: {{ .Values.frontend.readinessProbe.path }}
          initialDelaySeconds: {{ .Values.frontend.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.frontend.readinessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.frontend.readinessProbe.timeoutSeconds }}
          successThreshold: {{ .Values.frontend.readinessProbe.successThreshold }}
          failureThreshold: {{ .Values.frontend.readinessProbe.failureThreshold }}
        {{- end }}
      {{- with .Values.frontend.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.frontend.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.frontend.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      - name: tmp
        emptyDir: {}
      # https://github.com/DependencyTrack/frontend/issues/60
      # - name: config
      #  configMap:
      #    name: {{ include "common.names.fullname" . }}-frontend
      #    items:
      #    - key: config.json
      #      path: config.json
