name: "Test using kind and chart-testing tool"
on: [pull_request]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        kubernetesVersion: [ "v1.16.15", "v1.23.5" ]
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/master'
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Shellcheck
      uses: ludeeus/action-shellcheck@1.1.0

    - name: Set up Helm
      uses: azure/setup-helm@v2.0

    - uses: actions/setup-python@v3
      with:
        python-version: 3.7

    - name: Set up chart-testing
      uses: helm/chart-testing-action@v2.2.1

    - name: Run chart-testing (list-changed)
      id: list-changed
      run: |
        changed=$(ct list-changed --config ct-config.yaml)
        if [[ -n "$changed" ]]; then
          echo "::set-output name=changed::true"
        fi

    - name: Run chart-testing (lint)
      run: ct lint --config ct-config.yaml

    - name: Install kind
      if: steps.list-changed.outputs.changed == 'true'
      uses: helm/kind-action@v1.2.0
      with:
        node_image: "kindest/node:${{ matrix.kubernetesVersion }}"
        config: kind-config.yaml
    - name: Verify kind
      if: steps.list-changed.outputs.changed == 'true'
      run: |
        kubectl cluster-info
        kubectl get nodes -o wide
        kubectl get pods -n kube-system

    - name: Run chart-testing (install)
      run: ct install --config ct-config.yaml
